main {
    background-color: papayawhip;
}

html {
    min-height: 100%;
}

body {
    min-height: 100%;
}

#resume { 
    background: linear-gradient(to bottom,#77759b, 75%, #C3C3C3);
}

.my-modal {
    min-width: 600px !important;
}

div.contact, dt, a:link {
    color: #77759b !important;
}

.img-sm {
    height: 40px;
    width: 40px;
}

.social-media {
    background-color: #d9dfe5;
}

.artwork {
    background-color: #8F9FAC;
}

.artwork-menu {
    background-color: #C4CAD3;
}

.title {
    background-color: #D3BEE5;
}

.skillset {
    background-color: #87D2F5;
}

.grey-card {
    background-color: #C3C3C3;
}

.resume {
    width: 100%;
}

.shadows {   /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.shadows:hover {  /* On mouse-over, add a deeper shadow */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.papaya {
    background-color: papayawhip;
}

a, a:link {
    color: darkblue;
}

p>a:link {
    color: darkblue !important;
}

a:hover {
    color: purple !important;
}

.invisible {
    display: none;
}