#resume { /*Background image for resume page*/
    background-image: url("../img/pen_bubbles.jpg");
    background-position: center;
}

.title {
    background-color: #D3BEE5;
}

.shadows {   /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.shadows:hover {  /* On mouse-over, add a deeper shadow */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

a, a:link {
    color: purple !important;
}

a:hover {
    color: darkblue !important;
}

.collapsible-header {
    background-color: rgb(164, 176, 164);
}

.collapsible {
    background-color: rgb(227, 222, 218);
}

.invisible {
    display: none;
}